<div class="col-lg-2 col-md-4 col-sm-6" style="margin: 10% auto 0; background-color: rgba(255,255,255,0.8)">

    <form (ngSubmit)="onLoginFormSubmit()">
      <div class="form-group">
        <label for="usernameInput" style="margin-top: 0.2cm">Login</label>
        <input type="text" class="form-control" name="username" id="usernameInput" [(ngModel)]="username">
      </div>
      <div class="form-group">
        <label for="passwordInput">Password</label>
        <input type="password" class="form-control" name="password" id="passwordInput" [(ngModel)]="password">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary" style="margin-bottom: 0.5cm"><i class="bi bi-box-arrow-in-right"></i> Log in</button>
      </div>
    </form>

</div>